VECTIS_HTTP_BIND_ADDR=127.0.0.1:3000
VECTIS_SERVER_SCHEME=http
VECTIS_REMOTE_SCHEME=http
VECTIS_FINAL_APP_SCHEME=http
VECTIS_TLS_CERT_PATH=
VECTIS_TLS_KEY_PATH=
VECTIS_TLS_SKIP_VERIFY=false
VECTIS_API_URL=http://127.0.0.1:3000
VECTIS_TIMEOUT_SECONDS=30
VECTIS_PUBLIC_ADDR=localhost:3000
VECTIS_FINAL_APP_ADDR=localhost:3999
VECTIS_FINAL_APP_PATH=/message
VECTIS_ROUTES_PATH=routes.json
VECTIS_ROUTES_SIGN_PATH=routes_sign.json
VECTIS_LOG_LEVEL=info
VECTIS_LOG_DIR=logs
VECTIS_LOG_FILE=vectis.log
VECTIS_APIKEY=20e446d000498e82b056f54e68216d4c8c9bda089a6812d0aa9d82d59f918018
# VECTIS_UNSEAL_KEY_FILE=.unseal_key
VECTIS_PROTOCOL_VERSION=v1
VECTIS_STORAGE=sqlite
VECTIS_SQLITE_PATH=src/db/data.db
VECTIS_SENDER_HOSTNAME=instance-a.local
VECTIS_RECEIVER_HOSTNAME=instance-b.local
VECTIS_HASH=BLAKE2b(512)
VECTIS_SYMMETRIC=ChaCha20Poly1305
VECTIS_EDDSA=Ed25519
VECTIS_XECDH=X25519
VECTIS_ML_DSA_VARIANT=ML-DSA-44
VECTIS_ML_KEM_VARIANT=ML-KEM-512
VECTIS_DEFAULT_CRYPTO_PROFILE=hybrid-performance-v1
VECTIS_CRYPTO_POLICY=profile-only
VECTIS_PLAINTEXT_MESSAGE="You are not special. You are not a beautiful and unique snowflake. You're the same decaying organic matter as everything else."
